parameters:
    level: 4
    ignoreErrors:
        -
            message: '#Unreachable statement - code above always terminates\.#'
            path: app/routes.php
        -
            message: '#If condition is always true\.#'
            path: public/index.php
