[Unit]
Description=isuxportal-supervisor
After=network.target

[Service]
User=isucon
ExecStart=/usr/local/bin/isuxportal-supervisor /home/isucon/bench/bench
WorkingDirectory=/home/isucon/bench
LogsDirectory=isuxportal-supervisor

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
LimitNOFILE=2000000

Environment=ISUXPORTAL_SUPERVISOR_INSTANCE_NAME=%H
Environment=ISUXPORTAL_SUPERVISOR_HARD_TIMEOUT=180
Environment=ISUXPORTAL_SUPERVISOR_LOG_DIRECTORY=/var/log/isuxportal-supervisor
Environment=ISUXPORTAL_SUPERVISOR_INTERVAL_AFTER_EMPTY_RECEIVE=2

EnvironmentFile=/run/isuxportal-supervisor.env

RestartSec=2s
Restart=on-failure

TimeoutStopSec=200s
KillMode=mixed


[Install]
WantedBy=multi-user.target
