[Unit]
Description=bench.go

[Service]
WorkingDirectory=/home/isucon/bench
PIDFile=/home/isucon/bench/bench.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/bench/bench
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
