[Unit]
Description=isucondition.nodejs
After=network.target mysql.service

[Service]
WorkingDirectory=/home/isucon/webapp/nodejs
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/local/node/bin/npm start

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
