[Unit]
Description=isucondition.go
After=network.target mysql.service cloud-config.service

[Service]
WorkingDirectory=/home/isucon/webapp/go
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/webapp/go/isucondition

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
