[Unit]
Description=isucondition.python
After=network.target mysql.service cloud-config.service

[Service]
WorkingDirectory=/home/isucon/webapp/python
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/local/python/bin/python main.py

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
