[Unit]
Description=isucondition.nodejs
After=network.target mysql.service cloud-config.service

[Service]
WorkingDirectory=/home/isucon/webapp/nodejs
EnvironmentFile=/home/isucon/env.sh
Environment=PATH=/home/isucon/local/node/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=NODE_ENV=production

User=isucon
Group=isucon
ExecStart=/home/isucon/local/node/bin/npm start

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
