[Unit]
Description=isucondition.ruby
After=network.target mysql.service

[Service]
WorkingDirectory=/home/isucon/webapp/ruby
EnvironmentFile=/home/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/home/isucon/local/ruby/bin/bundle exec unicorn -c unicorn.conf.rb

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
