[Unit]
Description=isucondition.perl
After=network.target mysql.service cloud-config.service

[Service]
WorkingDirectory=/home/isucon/webapp/perl
EnvironmentFile=/home/isucon/env.sh
Environment=PLACK_ENV=development

User=isucon
Group=isucon
ExecStart=/home/isucon/local/perl/bin/plackup -s Starlet -p 3000 app.psgi

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
