[Unit]
Description=jiaapi-standalone

[Service]
PIDFile=/var/run/jiaapi-standalone

User=isucon
Group=isucon
ExecStart=/usr/local/bin/jiaapi-standalone
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
