[Unit]
Description=jiaapi-mock

[Service]
PIDFile=/var/run/jiaapi-mock

User=isucon
Group=isucon
ExecStart=/usr/local/bin/jiaapi-mock
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
