[Unit]
Description=jiaapi_standalone

[Service]
PIDFile=/var/run/jiaapi_standalone

User=isucon
Group=isucon
ExecStart=/usr/local/bin/isuapi-standalone
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
