---
name: Labeler
on: [pull_request]

jobs:
  label:
    runs-on: self-hosted
    steps:
    - uses: actions/labeler@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        configuration-path: ".github/label-path-mapping.yml"
        sync-labels: true
